<p style="color: green"><%= notice %></p>

<%= render @question %>

<div>
  <%= link_to "Modifica la domanda", edit_question_path(@question) %> |
  <%= link_to "Torna indietro", questions_path %>

  <%= button_to "Elimina la domanda", @question, method: :delete %>
</div>
