<%# * DONE %>
<header class="container-fluid py-1">
  <nav class="navbar navbar-light p-0">
    <div class="container-fluid px-0">
      <%# navbar logo %>
      <%= link_to root_path, class: "navbar-brand m-0" do %>
        <div class="d-inline-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd" />
          </svg>
          <h4 class="m-0">eShop</h4>
        </div>
      <% end %>

      <%# navbar search %>
      <%= form_with url: search_insertion_path, method: :get, class:"search-form" do |f| %>
        <%= f.text_field :search, placeholder: "Cerca" %>
        <%= button_tag do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
          </svg>
        <% end %>
      <% end %>

      <%# navbar user section %>
      <div class="d-inline-flex align-items-center">
        <% if user_signed_in? %>          
          <div class="seller-btn mx-2">
            <% if @seller&.active %>
              <%= button_to restore_user_path(current_user) do %>
                <span class="fw-bold">Fai una pausa dalle vendite</span>
              <% end %>
            <% else %>
              <%= button_to update_user_path(current_user) do %>
                <span class="fw-bold">Diventa un venditore</span>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div class="dropdown-link p-1">
          <div class="dropdown">
            <a data-bs-toggle="dropdown">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
              </svg>
            </a>
            <div class="dropdown-menu dropdown-menu-end mt-3">
              <% if !user_signed_in? %>
                <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#sign_up">
                  <span class="fw-bold">Registrati</span>
                </button>
                <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#sign_in">
                  <span>Accedi</span>
                </button>
              <% else %>
                <%= link_to user_profile_path(current_user), class: "dropdown-item" do %>
                  <span class="fw-bold">Profilo</span>
                <% end %>
                <%= link_to show_meeting_path(current_user), class: "dropdown-item" do %>
                  <span>Prenotazioni</span>
                <% end %>
                <%= link_to user_cart_path(current_user), class: "dropdown-item" do %>
                  <span>Carrello (<%= Cart.where(user_id: current_user).length %>)</span>
                <% end %>
                <%= link_to user_wishlist_path(current_user), class: "dropdown-item" do %>
                  <span>Preferiti (<%= Wishlist.where(user_id: current_user).length %>)</span>
                <% end %>
                <hr class="my-2"/>
                <%= link_to destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } do %>
                  <span>Esci</span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<%= render "shared/categories", categories: Insertion.categories %>
<hr />