<% if user_signed_in? %>
  <% if current_user.city == "" || current_user.zip_code == "" || current_user.address == "" %>
    <div class="container-md" style="padding-left: 25%; padding-right: 25%;">
      <h6 class="text-center mb-2">Completa il tuo profilo</h6>
      <%= form_for(:user, url: registration_path(:user), data: { turbo: false }, html: { method: :put }) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="form-floating mb-1">
          <%= f.text_field :first_name, class: "form-control", placeholder: "name@example.com", value: current_user.first_name, disabled: true %>
          <%= f.label :first_name %>
        </div>
        <div class="form-floating mb-1">
          <%= f.text_field :last_name, class: "form-control", placeholder: "name@example.com", value: current_user.last_name, disabled: true %>
          <%= f.label :last_name %>
        </div>
        <div class="form-floating mb-1">
          <%= f.email_field :email, class: "form-control", placeholder: "name@example.com", value: current_user.email, disabled: true %>
          <%= f.label :email %>
        </div>
        <div class="form-floating mb-1">
          <%= f.text_field :city, class: "form-control", placeholder: "password", value: current_user.city %>
          <%= f.label :city %>
        </div>
        <div class="form-floating mb-1">
          <%= f.text_field :zip_code, class: "form-control", placeholder: "password", value: current_user.zip_code %>
          <%= f.label :zip_code %>
        </div>
        <div class="form-floating mb-2">
          <%= f.text_field :address, class: "form-control", placeholder: "password", value: current_user.address %>
          <%= f.label :address %>
        </div>
        <%= f.submit "Continua", class: "modal-btn mx-auto p-2" %>
      <% end %>
    </div>
  <% end %>
<% end %>
<% if @latest %>
  <div class="container-md my-4 ">
    <h2 class="text-center my-3">Ultime aggiunte</h2>
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <% @latest.each_with_index do |insertion, index| %>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="<%= index %>" class="<%= "active" if index == 0 %>" aria-current="true" aria-label="Slide <%= index %>"></button>
          <% end %>
        </div>
        <div class="carousel-inner">
          <% @latest.each_with_index do |insertion, index| %>
            <div class="carousel-item <%= "active" if index == 0 %> text-center">
              <%= link_to show_insertion_path(insertion.id) do %>
                <%= image_tag(insertion.image, class: "img-fluid") %>
                <%# <img src="https://a0.muscache.com/im/pictures/c0e10c8f-d0c3-4875-bae8-0f664a55bbc6.jpg?im_w=720" class="img-fluid" alt="..."> %>
                <div class="carousel-caption mx-auto">
                  <div class="lh-1">
                    <span><%= User.full_name(Seller.find(insertion.seller_id).user_id) %></span>
                    <h5 class="mb-0"><%= insertion.title %></h5>
                    <span><%= sprintf('%.2f', insertion.price) %> €</span>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true">
            <i class="fa-solid fa-angle-left fa-2xl"></i>
          </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true">
            <i class="fa-solid fa-angle-right fa-2xl"></i>
          </span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
  </div>
<% end %>
<div class="my-3">
  <div class="mb-4">
    <span class="fw-light">Categoria: 
    <% if params[:category] %>
      <%= params[:category] %>
    <% else %>
      -
    <% end %>
    </span>
    <h3 class="mb-0">Oggetti in vendita</h3>
  </div>
  <div class="row row-cols-4">
    <% @insertions.each do |insertion| %>
      <% if !insertion.sold %>        
        <% if !user_signed_in? %>        
          <div class="col mx-auto mb-4">
            <%= render "shared/insertion", insertion: insertion %>
          </div>
        <% else %>
          <% if Seller.find(insertion.seller_id).user_id != current_user.id %>
            <div class="col mx-auto mb-4">
              <%= render "shared/insertion", insertion: insertion %>
            </div>
          <% end %>
      <% end %>
      <% end %>
    <% end %>
  </div>
</div>