<%# * DONE %>
<% if @latest_insertions %>
  <%# carousel section %>
  <div class="container-md text-center mt-3">
    <div class="text-center">
      <span class="fw-bold">Ultime Novità</span>
    </div>

    <%# carousel %>
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <%# carousel content %>
        <div class="carousel-inner">
          <% @latest_insertions.each_with_index do |insertion, i| %>
            <% user = Seller.find(insertion.seller_id).user_id %>
            <div class="carousel-item <%= "active" if i == 0 %>">
              <%= link_to show_insertion_path(insertion) do %>
                <div class="carousel-container">
                  <%= image_tag(insertion.image, class: "carousel-image") %>
                  <div class="carousel-content">
                    <%= link_to user_profile_path(user) do %>
                      <span><%= User.full_name(user) %></span>
                    <% end %>
                    <h2 class="mb-0"><%= insertion.title %></h2>
                    <span> <%= sprintf('%.2f', insertion.price) %> €</span>
                    <div class="mt-3">
                      <%= link_to "Visualizza", show_insertion_path(insertion), class: "fw-bold btn btn-sm btn-primary" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <%# carousel arrows %>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true">
            <i class="fa-solid fa-angle-left fa-2xl"></i>
          </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true">
            <i class="fa-solid fa-angle-right fa-2xl"></i>
          </span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
  </div>
<% end %>

<%# insertion grid %>
<div class="text-center my-3">
  <h6 class="fw-bold mb-0">In vendita</h6>
  <% if @category %>
    <span style="font-size: 12px;">categoria: <%= @category %></span>
  <% else %>
    <span style="font-size: 12px;">Tutti gli articoli</span>
  <% end %>
</div>
<div class="row row-cols-4">
  <% @insertions.each do |insertion| %>
    <% if !insertion.sold %>      
      <div class="col mb-4">
        <%= render "shared/insertion", insertion: insertion %>
      </div>
    <% end %>
  <% end %>
</div>