<%# * DONE %>
<div class="profile-container my-5">
  <%# profile container %>
  <% if @seller %>
    <div>
      <span>
        <% if !Seller.total_reviews(@seller.id) %>
          Nessuna valutazione disponibile
        <% else %>
          (<%= Seller.total_reviews(@seller.id) %>) <%= Seller.average_rating(@seller.id) %>
          <i class="fa-solid fa-star fa-2xs"></i>     
        <% end %>
      </span>
    </div>  
  <% end %>
  <div class="d-inline-flex align-items-center flex-column">
    <h6 class="fw-bold mb-0"><%= @user.first_name %> <%= @user.last_name %></h6>
    <span class="mb-0"><%= @user.zip_code %>, <%= @user.city %></span>
    <span><%= @user.email %></span>
    <% if user_signed_in? && current_user == @user %>        
      <button class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#edit_registration">
        <span class="fw-bold" style="color: #fe385c">modifica</span>
      </button>
      <%= render "shared/modal/edit_user" %>
    <% end %>
  </div>

  <%# profile seller status %>
  <% if @seller %> 
    <% if !@seller.active %>
      <span class="btn btn-sm btn-danger fw-bold">inattivo</span>
    <% else %>
      <span class="btn btn-sm btn-success fw-bold">attivo</span>
    <% end %>
  <% end %>
</div>
<hr />

<%# seller section %>
<% if Seller.find_by(user_id: @user) %>
  <%# insertion section %>
  <div class="insertion-section my-3">
    <span class="fw-bold">Annunci</span>
    <% if user_signed_in? && current_user == @user %>
      <button data-bs-toggle="modal" data-bs-target="#insertion">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
        </svg>
      </button>
    <% end %>
    <%= render "shared/modal/create" %>
  </div>

  <%# seller's insertions %>
  <div class="row row-cols-4">
    <% @insertions.each do |insertion| %>
      <% if !insertion.sold %>          
        <div class="col mb-4">
          <% if user_signed_in? && current_user == @user %>              
            <div class="insertion-features">
              <%= button_to destroy_insertion_path(insertion), method: :delete do %>
                <span>Elimina</span>
              <% end %>
              <button data-bs-toggle="modal" data-bs-target="#edit<%= insertion.id %>">
                <span>Modifica</span>
              </button>
            </div>
            <%= render "shared/modal/edit_insertion", insertion: insertion %>
          <% end %>
          <%= render "shared/insertion", insertion: insertion %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%# seller's reviews %>
  <div class="insertion-section mb-3">
    <span class="fw-bold">Recensioni</span>
    <% if user_signed_in? && current_user != @user %>
      <button class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#review">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
        </svg>
      </button>
      <%= render "shared/modal/review" %>
    <% end %>
  </div>
  <div class="row row-cols-4">
    <% @reviews.each do |review| %>
      <div class="col mb-4">
        <div class="review-container">
          <%= link_to user_profile_path(review.user_id) do %>
            <span class="fw-bold"><%= User.find(review.user_id).first_name %> <%= User.find(review.user_id).last_name %></span>
          <% end %>
          <div>
            <% (1..review.rating).each do %>
              <i class="fa-solid fa-star fa-2xs"></i>              
            <% end %>
            <% (review.rating..4).each do %>
              <i class="fa-regular fa-star fa-2xs"></i>              
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%# seller's sold history %>
  <% if Seller.find_by(user_id: @user) %>
    <div class="insertion-section mb-3">
      <span class="fw-bold">Articoli venduti</span>
    </div>
    <div class="row row-cols-4">
      <% @sold_insertions.each do |insertion| %>
        <div class="col mb-4">
          <div class="card">
            <%= image_tag(insertion.image, class: "insertion-image") %>

            <%# card-body %>
            <div class="card-body">
              <div>
                <h6 class="fw-bold mb-0"><%= insertion.title %></h6>
                <span class="fw-bold"><%= sprintf('%.2f', insertion.price) %> €</span>
              </div>
              <div>
                <% seller = insertion.seller_id %>
                <%= link_to user_profile_path(Seller.find(seller).user_id), class: "me-auto" do %>
                  <%= Insertion.seller_name(seller) %>
                <% end %>
                <% if Seller.average_rating(seller) == 0 %>
                  <span class="fw-light">Nessuna recensione</span>
                <% else%>
                  <span class="fw-bold">
                    (<%= Seller.total_reviews(seller) %>) <%= Seller.average_rating(seller) %>
                    <i class="fa-solid fa-star fa-2xs"></i>    
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>