<%# * DONE %>
<div class="container-fluid">
  <div class="insertion-container">
    <%# insertion information %>
    <div class="mt-3">
      <% if !Seller.find(@insertion.seller_id).active %>
        <span class="fw-bold">Venditore attualmente non attivo</span>
      <% elsif Meeting.find_by(insertion_id: @insertion) %>
        <span class="fw-bold">Attualmente prenotato</span>
      <% else %>
        <% if user_signed_in? %>
          <% if current_user.id != Seller.find(@insertion.seller_id).user_id %>            
            <button class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#meeting">
              <span class="fw-bold" style="font-size: 12px;">Prenota un incontro</span>
            </button>
          <% end %>
        <% else %>
          <button class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#sign_in">
            <span class="fw-bold" style="font-size: 12px;">Accedi per acquistare</span>
          </button>
        <% end %>
      <% end %>
      <h5 class="fw-bold mt-1 mb-0"><%= @insertion.title %></h5>
      <span><%= @insertion.description %></span>
      <%= link_to user_profile_path(Seller.find(@insertion.seller_id).user_id) do %>
        <h6 class="my-1" style="font-size: 12px;"><%= Insertion.seller_name(@insertion.seller_id) %></h6>
      <% end %>
      <%= link_to home_path(@insertion.categories) do %>
        <span class="fw-bold btn btn-sm btn-primary"><%= @insertion.categories %></span>
      <% end %>
    </div>

    <div>
      <div>
        <span class="fw-bold"><%= sprintf('%.2f', @insertion.price) %> €</span>
      </div>
      <% if user_signed_in? %>
        <div class="d-flex justify-content-center">
          <%# wishlist section %>
          <% if @wishlist&.find_by(insertion_id: @insertion) %>
            <%= button_to remove_wishlist_path(@insertion), method: :delete do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="#fe385c" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
              </svg>
            <% end %>
          <% else %>
            <%= button_to add_wishlist_path(@insertion) do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
              </svg>
            <% end %>
          <% end %>
          
          <%# cart section %>
          <% if @cart&.find_by(insertion_id: @insertion) %>
            <%= button_to remove_cart_path(@insertion), method: :delete do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
            <% end %>
          <% else %>
            <%= button_to add_cart_path(@insertion) do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
              </svg>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="text-center">
    <%# insertion image %>
    <%= image_tag(@insertion.image, class: "insertion-image") %>
  </div>

  <div class="mt-2 mb-5">
    <span class="fw-bold">Posizione del venditore</span>
    <div class="mt-2" id="map"></div>
  </div>

  <div>
    <%# answer section %>
    <div class="mb-2">
      <span class="fw-bold">Domande</span>
    </div>
    <% if @questions.count == 0 %>
      <div class="mb-4">
        <span>Nessuna domanda per l'articolo</span>
      </div>
    <% else %>
      <div class="row row-cols-4">
      <% @questions.each do |question| %>
        <div class="col mb-4">
          <div class="card">
            <div class="text-center mt-2">
              <h6 class="fw-bold mb-0">Domanda</h6>
              <span class="fw-light"><%= question.question%></span>
            </div>
            <div class="text-center mt-4">
              <h6 class="fw-bold mb-0">Risposta</h6>
              <span class="fw-light"><%= if question.reply.empty? then "-" else question.reply end %></span>
            </div>
            <% if user_signed_in? && current_user.id == Seller.find(@insertion.seller_id).user_id %>
              <%= link_to "Rispondi alla domanda", "#", class: "fw-bold text-center" %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>

    <%# question section %>
    <% if user_signed_in? && @insertion.seller_id != @seller&.id %>
      <div>
        <div class="mb-2">
          <span class="fw-bold">Fai una domanda</span>
        </div>      
        <div class="d-flex justify-content-center align-items-center mb-2">  
          <%= form_for(:question, url: questions_path, class: "question-form") do |form| %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.hidden_field :insertion_id, value: @insertion.id %>
            <%= form.text_area :question, class: "form-control" %>
            <div class="mt-2">
              <%= form.submit "Invia", class: "modal-btn" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <%= render "shared/modal/meeting", user: current_user, seller: Seller.find(@insertion.seller_id), insertion: @insertion %>
<% end %>
