<div class="modal fade" id="edit_meeting" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <%# modal header %>
      <div class="modal-header">
        <button class="btn-close position-absolute m-0" data-bs-dismiss="modal"></button>
        <div class="d-flex flex-column align-items-center justify-content-center w-100">
          <h5 class="modal-title fw-bold mx-auto">Cambia il meeting</h5>
          <span>Modifica</span>
        </div>
      </div>

      <div class="modal-body py-3">
        <%= form_for(:meeting, url: edit_meeting_path(meeting.id)) do |f| %>
          <%= f.hidden_field :owner?, value: meeting.insertion.seller_id == Seller.find_by(user_id: current_user).id if Seller.find_by(user_id: current_user) %>
          <%= f.hidden_field :user, value: current_user.id %>
          <div class="mb-3">
            <div class="mb-1">
              <h6 class="mb-0">Precedente orario:</h6>
              <span class="fw-bold"><%= meeting.date %></span>
            </div>
            <%= f.datetime_local_field :date, class: "form-control" %>
          </div>
          <div class="form-floating mb-3">
            <%= f.text_field :place, class: "form-control", placeholder: "Address", value: meeting.place %>
            <%= f.label :place %>
          </div>
          <%= f.submit "Aggiorna", class: "modal-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>