<div class="modal fade" id="meeting" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <%# modal header %>
      <div class="modal-header">
        <button class="btn-close position-absolute m-0" data-bs-dismiss="modal"></button>
        <div class="d-flex flex-column align-items-center justify-content-center w-100">
          <h5 class="modal-title fw-bold mx-auto">Organizza un meeting</h5>
          <span>Prenota</span>
        </div>
      </div>

      <%# modal body %>
      <div class="modal-body py-3">
        <%= form_for(:meeting, url: meeting_path) do |f| %>
          <%= f.hidden_field :user_id, value: user.id %>
          <%= f.hidden_field :seller_id, value: seller.id %>
          <%= f.hidden_field :insertion_id, value: insertion.id %>
          <div class="mb-3">
            <%= f.datetime_local_field :date, class: "form-control" %>
          </div>
          <div class="form-floating mb-3">
            <%= f.text_field :place, class: "form-control", placeholder: "Address" %>
            <%= f.label :place %>
          </div>
          <%= f.submit "Prenota", class: "modal-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>