<% if user_signed_in? %>
  <div class="modal fade" id="review" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      <%# modal header %>
      <div class="modal-header">
        <button class="btn-close position-absolute m-0" data-bs-dismiss="modal"></button>
        <div class="d-flex flex-column align-items-center justify-content-center w-100">
          <h5 class="modal-title fw-bold mx-auto">Valuta <%= @user.first_name %></h5>
        </div>
      </div>

        <div class="modal-body py-3">
          <%= form_for(:review, url: create_review_path, id: "review_form") do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :seller_id, value: Seller.find_by(user_id: @user).id %>
              <div class="form-floating mb-3">
                <%= f.number_field :rating, in: 1..5, class: "form-control", placeholder: "rating" %>
                <%= f.label :rating %>
              </div>
            <%= f.submit "Continua", class: "modal-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>