<div class="d-flex flex-column align-items-center justify-content-center my-4">
  <h5 class="modal-title fw-bold mx-auto">Organizza un meeting</h5>
  <span>Prenota</span>
</div>

<h6 class="text-center mb-3">Indirizzo selezionato: <span id="selected_address"><%= @user.address %>, <%= @user.city %></span></h6>
<%= form_for(:meeting, url: create_meeting_path, class: "mb-3", id:"meeting_form") do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :seller_id, value: @seller.id %>
  <%= f.hidden_field :insertion_id, value: @insertion.id %>
  <div class="row mb-3">
    <div class="col-6 my-auto">
      <%= f.datetime_local_field :date, class: "form-control", id:"date", min: Time.now.strftime('%Y-%m-%d') %>
    </div>
    <div class="col-6">
      <div class="form-floating">
        <%= f.text_field :place, class: "form-control", placeholder: "Address" %>
        <%= f.label :place %>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= f.submit "Prenota", class: "modal-btn", style: "width: 100px;" %>
  </div>
<% end %>

<div id="map"></div>

<script>
  function initMap() {
    const coordinates = { lat: gon.lat, lng: gon.lng };

    const map = new google.maps.Map(
      document.getElementById("map"), { 
        center: coordinates, 
        zoom: 12
    });

    const marker = new google.maps.Marker({ position: coordinates, map, title: "Seller position" });

    const address = document.getElementById("selected_address");
    const input_field = document.getElementById("meeting_place");

    input_field.addEventListener("change", (event) => {
      address.innerHTML = event.target.value

      const URL = `https://api.opencagedata.com/geocode/v1/json?q=${encodeURI(event.target.value)}&key=<%= Rails.application.credentials.dig(:opencage_api) %>`;

      fetch(URL)
        .then(res => res.json())
        .then(res => {
          const coordinates = res.results[0].geometry
          const marker = new google.maps.Marker({ position: coordinates, map, title: "Meeting position" });
          map.setCenter(marker.getPosition())
          console.log(marker.getPosition());
        })
        .catch(err => console.error(err))

    });
  }

</script>  