<div class="my-3">
  <span class="fw-bold">Prenotazioni</span>
    <% if @meetings.length == 0 %>
    <h6 class="mt-3">Nessun elemento</h6>
  <% end %>
</div>
<% @meetings.each do |meeting| %>
  <div class="d-flex align-items-center justify-content-between">
    <%# meeting information %>
    <div class="d-inline-flex align-items-center">
      <%= link_to show_insertion_path(meeting.insertion_id) do %>
        <%= render "shared/insertion", insertion: Insertion.find(meeting.insertion_id) %>
      <% end %>
      <div class="ms-5">
        <div>
          <h6 class="fw-bold mb-1"><%= meeting.date %></h6>
          <span class="fw-bold"><%= meeting.place %></span>
        </div>
        <div class="mt-2">
          <span class="btn btn-sm <%= if meeting.user_approvation then "btn-success" else "btn-danger" end %>">Utente</span>
          <span class="btn btn-sm <%= if meeting.seller_approvation then "btn-success" else "btn-danger" end %>">Venditore</span>
        </div>
      </div>
    </div>

    <div class="d-inline-flex align-items-center flex-column">
      <%# meeting position %>
      <div id="map" style="height: 250px; width: 500px;"></div>
      <%# meeting features %>
      <div class="d-inline-flex mt-2">
        <% if (current_user.id == meeting.user_id && !meeting.user_approvation) || (current_user.id == Seller.find(meeting.seller_id).user_id && !meeting.seller_approvation) %>            
          <%= form_with url: accept_meeting_path(meeting.id), method: :post do |f| %>
            <%= f.hidden_field :owner?, value: meeting.insertion.seller_id == Seller.find_by(user_id: current_user).id if Seller.find_by(user_id: current_user) %>
            <%= f.hidden_field :user, value: current_user.id %>
            <%= f.submit "Accetta", class: "btn btn-sm btn-success mx-1" %>
          <% end %>
        <% end %>
        <button class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#edit_meeting">
          <span class="text-white btn btn-sm btn-warning mx-1">Modifica</span>
        </button>
        <%= button_to destroy_meeting_path(meeting.id), class: "text-white btn btn-sm btn-danger mx-1", method: :delete do %>
          Elimina
        <% end %>
        <% if Seller.find_by(user_id: current_user) && meeting.seller_id == Seller.find_by(user_id: current_user).id %>
          <%= form_with url: complete_purchase_path(meeting.id), method: :post do |f| %>
            <%= f.hidden_field :insertion, value: meeting.insertion_id %>
            <%= f.hidden_field :seller, value: meeting.seller_id %>
            <%= f.hidden_field :user, value: meeting.user_id %>
            <%= f.hidden_field :date, value: meeting.date %>
            <%= f.hidden_field :place, value: meeting.place %>
            <%= f.submit "Concludi", class: "btn btn-sm btn-secondary mx-1" %>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <%= render "shared/modal/edit_meeting", meeting: meeting %>
  </div>
  <hr />

  <% results = @geocoder.geocode(meeting.place) %>
  <script>
    function initMap() {
        const coordinates = { lat: <%= results.first.coordinates[0] %>, lng: <%= results.first.coordinates[1] %> };
        const map = new google.maps.Map(
          document.getElementById("map"), { 
            center: coordinates, 
            zoom: 12
        });

        new google.maps.Marker({ position: coordinates, map, title: "Seller position" });
    }
  </script>
<% end %>
