
<div class="container-md">
  <div class="my-3">
    <h2 class="mb-3">Prenotazioni</h2>
    <% @meetings.each do |meeting| %>
      <div class="meeting-container d-flex align-items-center justify-content-between">
        <div class="d-inline-flex align-items-center gap-3">
          <%= link_to show_insertion_path(meeting.insertion_id) do %>
          <%= image_tag(Insertion.find(meeting.insertion_id).image, class: "img-fluid") %>
            <%# <img src="https://a0.muscache.com/im/pictures/c0e10c8f-d0c3-4875-bae8-0f664a55bbc6.jpg?im_w=720" class="img-fluid" alt="..." > %>
          <% end %>
          <div class="d-flex flex-column gap-2">
            <div>
              <span class="fw-bold"><%= Insertion.find(meeting.insertion.id).title %></span>
              <span class="fw-bold"><%= sprintf('%.2f', Insertion.find(meeting.insertion.id).price) %> €</span>
              <h4 class="mb-0"><%= meeting.date.strftime('%A, %m %B %Y, %H:%M') %></h4>
              <span class="fw-bold"><%= meeting.place %></span>
            </div>
            <div>
              <span class="btn btn-sm <%= if meeting.user_approvation then "btn-success" else "btn-danger" end %>">Utente</span>
              <span class="btn btn-sm <%= if meeting.seller_approvation then "btn-success" else "btn-danger" end %>">Venditore</span>
            </div>
          </div>
        </div>
        <div class="d-inline-flex align-items-center gap-2">
          <% if !meeting.user_approvation || (!meeting.seller_approvation && Seller.find_by(user_id: current_user) ) %>            
            <%= form_with url: accept_meeting_path(meeting.id), method: :post do |f| %>
              <%= f.hidden_field :owner?, value: meeting.insertion.seller_id == Seller.find_by(user_id: current_user).id if Seller.find_by(user_id: current_user) %>
              <%= f.hidden_field :user, value: current_user.id %>
              <%= f.submit "Accetta", class: "btn btn-sm btn-success" %>
            <% end %>
          <% end %>
          <button class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#edit_meeting">
            <span class="btn btn-sm btn-warning text-white">modifica</span>
          </button>
          <%= button_to destroy_meeting_path(meeting.id), class: "text-white btn btn-sm btn-danger px-2 py-1", method: :delete do %>
            elimina
          <% end %>
          <% if Seller.find_by(user_id: current_user) && meeting.seller_id == Seller.find_by(user_id: current_user).id %>
            <%= form_with url: complete_purchase_path(meeting.id), method: :post do |f| %>
              <%= f.hidden_field :insertion, value: meeting.insertion_id %>
              <%= f.hidden_field :seller, value: meeting.seller_id %>
              <%= f.hidden_field :user, value: meeting.user_id %>
              <%= f.hidden_field :date, value: meeting.date %>
              <%= f.hidden_field :place, value: meeting.place %>
              <%= f.submit "Concludi", class: "bg-transparent border-0 fw-bold" %>
            <% end %>
          <% end %>
        </div>
        <%= render "shared/edit_meeting", meeting: meeting %>
      </div>
      <hr />
    <% end %>
  </div>
</div>