<!DOCTYPE html>
<html>
  <head>
    <title>Commerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= include_gon %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="container-fluid">
      <%= render "shared/navbar" %>
      <%= yield %>
      
      <%# render partials view %>
      <% if !user_signed_in? %>        
        <%= render "shared/modal/sign_in" %>
        <%= render "shared/modal/sign_up" %>
      <% else %>
        <%= render "shared/toast/complete_registration" %>
        <%= render "shared/toast/alert_error" %>
      <% end %>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:maps_api) %>&callback=initMap&v=weekly" defer></script>
    <script>
      function initMap() {
        const coordinates = { lat: gon.lat, lng: gon.lng };
        const map = new google.maps.Map(
          document.getElementById("map"), { 
            center: coordinates, 
            zoom: 12
        });

        const marker = new google.maps.Marker({ position: coordinates, map, title: "Seller position" });
        let infoWindow = new google.maps.InfoWindow()

        map.addListener("click", (mapsMouseEvent) => {
          infoWindow.close()
          infoWindow = new google.maps.InfoWindow({
            position: mapsMouseEvent.latLng,
          });

          infoWindow.setContent(JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2));
          infoWindow.open(map);
        })
      }
    </script>  
  </body>
</html>
